.header {
    text-align: center;
    margin: 0 auto;
}

.icons > svg {
    fill: #dfc5b9;
}

.heading {
    color: #dfc5b9;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.round-picture {
    position: absolute;
    top: 256px;
    left: 140px;
    height: 512px;
    width: 512px;
    border-radius: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    left: 720px;
    top: 320px;
    font-size: 30px;
    line-height: 40px;
    width: 400px;
    font-family: 'Source Sans Pro', sans-serif;
}